<div class="col-xs-12">
<% if (data.length < 1) { %>
   <p> We do not have any registered campaign finance reports for this candidate in our database.</p>
   <ul> This might be because:
      <li> We have not yet entered reports from this candidate's campaign committee from the <a href= "http://www16.co.hennepin.mn.us/cfrs/search.do">county website</a> into our database. </li>
      <li> We have looked on the county website, and the it does not list any reports for this candidate either because they did not raise more than $100 or they did not register. </li>
   </ul>
<% } %>

<% for(var i=0; i < data.length; i++) { %>
   <h4> <%=data[i].Committee_Name %> <%=data[i].Report_Name %> </h4>
   <p> Beginning cash balance: <%=data[i].Beginning_Cash_Balance %> </p>
      <p> Additions: <%=data[i].Additions %> </p>
      <ul>
            <li> Total Itemized Contributions: <%=data[i].Total_Itemized_Contributions %> </li>
            <li> Total Non-Itemized Contributions: <%=data[i].Total_Non_Itemized_Contributions %> </li>
      </ul>
      <p> Subtractions: <%=data[i].Subtractions %> </p>
      <p> Ending cash balance: <%=data[i].Ending_Cash_Balance %> </p>
      <p> Campaign Finance Report: <a href="<%=data[i].Link %>" target="_blank"> County Site</a></p>
      <p> Machine Readable File: 
           <% if ( data[i].Machine_Readable_File_System) { %>
            <span class="obtained"><a href="/public/reports/<%=data[i].Machine_Readable_File_System %>" download> County Site</a> </span> 
            <% } else { %>
            <span class="missing"> Missing </span>

   <% } %>
         </p> 


   <hr>
     
<% } %>



</div>
